.aboutMe {
    margin: 0 auto; /* Esto centra el bloque */
    text-align: justify; /* Opcional para justificación de texto */
    border-bottom: 1px solid black;
    gap: 0.5em;
  }
.content {
  text-align: center;
  padding: 2em 5em;
}
  
.title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}
  