.exp {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 2rem; /* opcional para dar aire final */
  text-align: center;
  background-color: #ccc;
  border-bottom: 1px solid black;
}
.content {
  padding: 1em 5em;
}
.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  border-bottom: 2px solid gray;
  padding-bottom: 0.5rem;

}
.exp ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.exp ul ul {
  margin: 0;
  padding-left: 1.5rem;
}
