/* ==== RESET CSS ==== */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #000;
}

/* Remove list styles on ul, ol elements */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove default styles from headings */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset links */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset buttons */
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  color: inherit;
  outline: none;
}

/* Make images easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove animations/transitions for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ==== ESTILOS GLOBALES ==== */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

main, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.skills-exp-wrapper {
  display: flex;
  flex-direction: column; 
}

/* A partir de 900px, se colocan en fila */
@media (min-width: 900px) {
  .skills-exp-wrapper {
    flex-direction: row;
    justify-content: space-between;

  }

  .skills-exp-wrapper > * {
    flex: 1; /* que ambos ocupen el mismo espacio */
  }
}


